<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Лексикон</title>
	<link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
	<div class="outer-wrapper"> <!-- общий контейнер -->

		<h3 class="header">л е к с и к о н</h3> <!-- заголовок "Лексикон" -->

		<div class="inner-container"> <!-- внутренний контейнер -->

			<div class="welcome"> <!-- приветствие -->
				<p>Добро пожаловать в Лексикон!</p>
				<br/>
				<p>Здесь оценят ваш словарный запас и, возможно, расширят его!</p>
				<p>В чём суть? Даётся слово из 5-20 букв, используя которые вам будет нужно
					составить другие слова - нарицательные имена существительные в именительном
					падеже в единственном числе (за искл. слов, не имеющих единственного числа -
					'уста', 'очки' и др.).</p>
				<p>Не разрешается заменять буквы 'Й' на 'И', 'Ё' на 'Е' и наоборот.</p>
				<p>Оценка производится по пятибалльной шкале на основе сравнения с условно
					эталонным результатом. К используемому здесь словарю стоит проявить некоторое
					снисхождение, поскольку он, вероятно, содержит не все слова - особенно из
					разговорной речи. Тем не менее есть не совсем приятное правило: если вашего
					слова нет в словаре, оно не засчитывается.</p>
				<p>По желанию в конце каждого раунда вы сможете узнать значения не найденных
					вами слов, расширяя таким образом свой кругозор.</p>
				<p>Удачи!</p>
				<br/>
				<br/>
			</div>

			<div style="text-align: center"> <!-- кнопка старта -->
				<a th:href="@{/lexicon/word-length}"><button type="button">НАЧАТЬ</button></a>
			</div>
		</div>
	</div>
</body>
</html>