<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Лексикон</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
	<script th:inline="javascript">
		function showDefinitions() {
			const index = document.getElementById("uList").selectedIndex;
			const definitions = [[${derivedDefinitions}]];
			document.getElementById("definitions").innerHTML = definitions[index];
		}
	</script>
</head>
<body>
	<div class="outer-wrapper"> <!-- общий контейнер -->

		<h3 class="header">л е к с и к о н</h3> <!-- заголовок "Лексикон" -->

		<div class="inner-container" style="text-align: center"> <!-- внутренний контейнер -->
			<p>Исходное слово: <span th:text="${sourceWord}"></span></p><br/><br/>
			<p>Ваша общая оценка: <span th:text="${estimation}"></span></p><br/><br/><hr>
			<table>
				<tr>
					<th style="width: 30%">
						<p><br/>Ваш список<br>правильных слов (<span th:text="${lexiconSize}"></span>):</p><br/>
					</th>
					<th style="width: 30%">
						<p><br/>Список пропущенных<br>вами слов (<span th:text="${derivedWordsNumber}"></span>):</p><br/>
					</th>
					<th style="width: 40%">
						<p><br/>Значение пропущенных слов<br>(выделите одно в списке слева):</p><br/>
					</th>
				</tr>
				<tr>
					<td>
						<select size="17">
							<option th:each="pWord: ${lexicon}" th:value="${pWord}" th:text="${pWord}"></option>
						</select>
					</td>
					<td>
						<select id="uList" size="17" th:onchange="showDefinitions()"> <!-- script -->
							<option th:each="dWord: ${derivedWords}" th:value="${dWord}" th:text="${dWord}"></option>
						</select>
					</td>
					<td class="list">
						<div th:utext="'Исходное слово - ' + ${sourceWord} + ':<br/><br/>' + ${sourceDefinitions}"
						     id="definitions" style="font-weight: normal;"></div>
					</td>
				</tr>
			</table>
			<br/><br/><hr><br/><br/>
			<div style="text-align: center"> <!-- кнопка начала нового раунда -->
				<a th:href="@{/lexicon/home}"><button type="button">ЕЩЁ РАУНД</button></a>
			</div>
		</div>
	</div>
</body>
</html>
